In [7]:
import pandas as pd

In [4]:
df_list = []

for idx in range(1, 13):
    # print("{0:02d}".format(idx))
    month_str = "{0:02d}".format(idx)
    df = pd.read_csv('../data-files2023/bike_data_23.{0}.csv'.format(month_str), encoding='cp949')
    df_list.append(df)

In [8]:
pd.concat(df_list)

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-01-01,735,735. 영도초등학교,정기권,NaN,~10대,2,39.57,0.54,2303.37,12
1,2023-01-01,746,746. 목동2단지 상가,정기권,NaN,~10대,1,28.51,0.26,1107.47,10
2,2023-01-01,505,505. 자양사거리 광진아크로텔 앞,정기권,NaN,~10대,1,19.56,0.22,949.93,6
3,2023-01-01,1153,"1153. 발산역 1번, 9번 인근 대여소",정기권,NaN,~10대,1,70.37,0.59,2538.76,13
4,2023-01-01,1155,1155. 기쁜우리복지관,정기권,NaN,~10대,1,40.86,0.49,2105.61,3
...,...,...,...,...,...,...,...,...,...,...,...
1272169,2023-12-31,2156,2156. 신림푸르지오아파트,정기권,M,기타,1,17.79,0.15,641.78,4
1272170,2023-12-31,3502,3502. 중곡역 1번출구,정기권,M,기타,1,43.08,0.41,1754.74,17
1272171,2023-12-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,117.89,1.06,4580.00,87
1272172,2023-12-31,722,722. 경서농협 버스정류장(우리은행신정동지점방향),정기권,M,기타,1,59.70,0.47,2010.00,10
1272173,2023-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,1,98.08,0.75,3216.64,103