In [20]:
import pandas as pd

In [21]:
df_list = []

for idx in range(1, 13):
    # print("{0:02d}".format(idx))
    month_str = "{0:02d}".format(idx)
    df = pd.read_csv('../data-files2022/bike_data_22.{0}.csv'.format(month_str), encoding='cp949')
    df_list.append(df)

In [19]:
pd.concat(df_list)

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),연령대,이용건수
0,2022-01-01,102,102. 망원역 1번출구 앞,일일(비회원),\N,기타,1.0,48.46,0.44,1882.85,49,NaN,NaN
1,2022-01-01,102,102. 망원역 1번출구 앞,일일(회원),\N,20대,3.0,995.14,8.16,35143.85,251,NaN,NaN
2,2022-01-01,102,102. 망원역 1번출구 앞,일일(회원),\N,30대,2.0,92.04,1.06,4535.15,33,NaN,NaN
3,2022-01-01,102,102. 망원역 1번출구 앞,일일(회원),\N,40대,1.0,\N,\N,0.00,20,NaN,NaN
4,2022-01-01,102,102. 망원역 1번출구 앞,일일(회원),F,20대,1.0,41.70,0.38,1620.00,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074741,2022-12-31,3501,3501. 광진구청 앞,정기권,M,NaN,NaN,52.78,0.45,1960.00,62,기타,1.0
1074742,2022-12-31,3502,3502. 중곡역 1번출구,정기권,M,NaN,NaN,96.31,0.71,3040.00,23,기타,1.0
1074743,2022-12-31,502,502. 뚝섬유원지역 1번출구 앞,정기권,M,NaN,NaN,34.49,0.31,1340.00,8,기타,1.0
1074744,2022-12-31,426,426. 서울신용보증재단,정기권,M,NaN,NaN,42.47,0.38,1650.00,28,기타,1.0
1074745,2022-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,NaN,NaN,102.70,0.92,3990.00,93,기타,2.0

In [4]:
df = pd.read_csv('C:\공공자전거\data-files2022/bike_data_22.01.csv', encoding='cp949')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\human\AppData\Local\Temp\ipykernel_15440\262127129.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('C:\공공자전거\data-files2022/bike_data_22.01.csv', encoding='cp949')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792649 entries, 0 to 792648
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   대여일자     792649 non-null  object
 1   대여소번호    792649 non-null  int64
 2   대여소      792649 non-null  object
 3   대여구분코드   792649 non-null  object
 4   성별       746511 non-null  object
 5   연령대코드    792649 non-null  object
 6   이용건수     792649 non-null  int64
 7   운동량      792649 non-null  object
 8   탄소량      792649 non-null  object
 9   이동거리(M)  792649 non-null  float64
 10  이용시간(분)  792649 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 66.5+ MB

In [26]:
import requests 

service_key = '644a776e746c656f31303669444e625a'
api_url = 'http://openapi.seoul.go.kr:8088/sample/json/tbCycleRentUseDayInfo/1/5/20220101'

response = requests.get(api_url) 
print(response.content)

if response.status_code == 200:
    print(response.json())
else: 
    print(f"데이터 조회 실패. 상태 코드: {response.status_code}")
    print(f"에러 메시지: {response.text}")

b'{"cycleRentUseDayInfo":{"list_total_count":"21771","RESULT":{"CODE":"INFO-000","MESSAGE":"\xec\xa0\x95\xec\x83\x81 \xec\xb2\x98\xeb\xa6\xac\xeb\x90\x98\xec\x97\x88\xec\x8a\xb5\xeb\x8b\x88\xeb\x8b\xa4."},"row":[{"RENT_DT":"2022-01-01","RENT_ID":"00729","RENT_NM":"729. \xec\x84\x9c\xeb\xb6\x80\xec\x8b\x9d\xec\x9e\x90\xec\x9e\xac\xeb\xa7\x88\xed\x8a\xb8 \xea\xb1\xb4\xeb\x84\x88\xed\x8e\xb8","RENT_TYPE":"\xec\xa0\x95\xea\xb8\xb0\xea\xb6\x8c","GENDER_CD":"","AGE_TYPE":"~10\xeb\x8c\x80","USE_CNT":"1","EXER_AMT":"51.99","CARBON_AMT":"0.47","MOVE_METER":"2020.00","MOVE_TIME":"17","START_INDEX":0,"END_INDEX":0,"RNUM":"1"},{"RENT_DT":"2022-01-01","RENT_ID":"00731","RENT_NM":"731. \xec\x84\x9c\xec\x9a\xb8\xec\x8b\x9c \xeb\x8f\x84\xeb\xa1\x9c\xed\x99\x98\xea\xb2\xbd\xea\xb4\x80\xeb\xa6\xac\xec\x84\xbc\xed\x84\xb0","RENT_TYPE":"\xec\xa0\x95\xea\xb8\xb0\xea\xb6\x8c","GENDER_CD":"","AGE_TYPE":"~10\xeb\x8c\x80","USE_CNT":"2","EXER_AMT":"48.09","CARBON_AMT":"0.41","MOVE_METER":"1760.00","MOVE_TIME":"92","START_INDEX":0,"END_INDEX":0,"RNUM":"2"},{"RENT_DT":"2022-01-01","RENT_ID":"00734","RENT_NM":"734. \xec\x8b\xa0\xed\x8a\xb8\xeb\xa6\xac\xea\xb3\xb5\xec\x9b\x90 \xec\x9e\x85\xea\xb5\xac","RENT_TYPE":"\xec\xa0\x95\xea\xb8\xb0\xea\xb6\x8c","GENDER_CD":"","AGE_TYPE":"~10\xeb\x8c\x80","USE_CNT":"1","EXER_AMT":"26.41","CARBON_AMT":"0.24","MOVE_METER":"1042.22","MOVE_TIME":"8","START_INDEX":0,"END_INDEX":0,"RNUM":"3"},{"RENT_DT":"2022-01-01","RENT_ID":"00746","RENT_NM":"746. \xeb\xaa\xa9\xeb\x8f\x992\xeb\x8b\xa8\xec\xa7\x80 \xec\x83\x81\xea\xb0\x80","RENT_TYPE":"\xec\xa0\x95\xea\xb8\xb0\xea\xb6\x8c","GENDER_CD":"","AGE_TYPE":"~10\xeb\x8c\x80","USE_CNT":"2","EXER_AMT":"121.91","CARBON_AMT":"1.11","MOVE_METER":"4794.92","MOVE_TIME":"26","START_INDEX":0,"END_INDEX":0,"RNUM":"4"},{"RENT_DT":"2022-01-01","RENT_ID":"01025","RENT_NM":"1025. \xec\x83\x81\xec\x9d\xbc\xec\xb4\x88\xeb\x93\xb1\xed\x95\x99\xea\xb5\x90","RENT_TYPE":"\xec\xa0\x95\xea\xb8\xb0\xea\xb6\x8c","GENDER_CD":"","AGE_TYPE":"~10\xeb\x8c\x80","USE_CNT":"1","EXER_AMT":"15.40","CARBON_AMT":"0.17","MOVE_METER":"720.00","MOVE_TIME":"6","START_INDEX":0,"END_INDEX":0,"RNUM":"5"}]}}'
{'cycleRentUseDayInfo': {'list_total_count': '21771', 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다.'}, 'row': [{'RENT_DT': '2022-01-01', 'RENT_ID': '00729', 'RENT_NM': '729. 서부식자재마트 건너편', 'RENT_TYPE': '정기권', 'GENDER_CD': '', 'AGE_TYPE': '~10대', 'USE_CNT': '1', 'EXER_AMT': '51.99', 'CARBON_AMT': '0.47', 'MOVE_METER': '2020.00', 'MOVE_TIME': '17', 'START_INDEX': 0, 'END_INDEX': 0, 'RNUM': '1'}, {'RENT_DT': '2022-01-01', 'RENT_ID': '00731', 'RENT_NM': '731. 서울시 도로환경관리센터', 'RENT_TYPE': '정기권', 'GENDER_CD': '', 'AGE_TYPE': '~10대', 'USE_CNT': '2', 'EXER_AMT': '48.09', 'CARBON_AMT': '0.41', 'MOVE_METER': '1760.00', 'MOVE_TIME': '92', 'START_INDEX': 0, 'END_INDEX': 0, 'RNUM': '2'}, {'RENT_DT': '2022-01-01', 'RENT_ID': '00734', 'RENT_NM': '734. 신트리공원 입구', 'RENT_TYPE': '정기권', 'GENDER_CD': '', 'AGE_TYPE': '~10대', 'USE_CNT': '1', 'EXER_AMT': '26.41', 'CARBON_AMT': '0.24', 'MOVE_METER': '1042.22', 'MOVE_TIME': '8', 'START_INDEX': 0, 'END_INDEX': 0, 'RNUM': '3'}, {'RENT_DT': '2022-01-01', 'RENT_ID': '00746', 'RENT_NM': '746. 목동2단지 상가', 'RENT_TYPE': '정기권', 'GENDER_CD': '', 'AGE_TYPE': '~10대', 'USE_CNT': '2', 'EXER_AMT': '121.91', 'CARBON_AMT': '1.11', 'MOVE_METER': '4794.92', 'MOVE_TIME': '26', 'START_INDEX': 0, 'END_INDEX': 0, 'RNUM': '4'}, {'RENT_DT': '2022-01-01', 'RENT_ID': '01025', 'RENT_NM': '1025. 상일초등학교', 'RENT_TYPE': '정기권', 'GENDER_CD': '', 'AGE_TYPE': '~10대', 'USE_CNT': '1', 'EXER_AMT': '15.40', 'CARBON_AMT': '0.17', 'MOVE_METER': '720.00', 'MOVE_TIME': '6', 'START_INDEX': 0, 'END_INDEX': 0, 'RNUM': '5'}]}}

In [22]:
import json 

text_response = response.content.decode('utf-8') 
dict_response = json.loads(text_response)
dict_response

{'cycleRentUseDayInfo': {'list_total_count': '21771',
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다.'},
  'row': [{'RENT_DT': '2022-01-01',
    'RENT_ID': '00729',
    'RENT_NM': '729. 서부식자재마트 건너편',
    'RENT_TYPE': '정기권',
    'GENDER_CD': '',
    'AGE_TYPE': '~10대',
    'USE_CNT': '1',
    'EXER_AMT': '51.99',
    'CARBON_AMT': '0.47',
    'MOVE_METER': '2020.00',
    'MOVE_TIME': '17',
    'START_INDEX': 0,
    'END_INDEX': 0,
    'RNUM': '1'},
   {'RENT_DT': '2022-01-01',
    'RENT_ID': '00731',
    'RENT_NM': '731. 서울시 도로환경관리센터',
    'RENT_TYPE': '정기권',
    'GENDER_CD': '',
    'AGE_TYPE': '~10대',
    'USE_CNT': '2',
    'EXER_AMT': '48.09',
    'CARBON_AMT': '0.41',
    'MOVE_METER': '1760.00',
    'MOVE_TIME': '92',
    'START_INDEX': 0,
    'END_INDEX': 0,
    'RNUM': '2'},
   {'RENT_DT': '2022-01-01',
    'RENT_ID': '00734',
    'RENT_NM': '734. 신트리공원 입구',
    'RENT_TYPE': '정기권',
    'GENDER_CD': '',
    'AGE_TYPE': '~10대',
    'USE_CNT': '1',
    'EXER_AMT': '26.41',
    'CARBON_AMT': '0.24',
    'MOVE_METER': '1042.22',
    'MOVE_TIME': '8',
    'START_INDEX': 0,
    'END_INDEX': 0,
    'RNUM': '3'},
   {'RENT_DT': '2022-01-01',
    'RENT_ID': '00746',
    'RENT_NM': '746. 목동2단지 상가',
    'RENT_TYPE': '정기권',
    'GENDER_CD': '',
    'AGE_TYPE': '~10대',
    'USE_CNT': '2',
    'EXER_AMT': '121.91',
    'CARBON_AMT': '1.11',
    'MOVE_METER': '4794.92',
    'MOVE_TIME': '26',
    'START_INDEX': 0,
    'END_INDEX': 0,
    'RNUM': '4'},
   {'RENT_DT': '2022-01-01',
    'RENT_ID': '01025',
    'RENT_NM': '1025. 상일초등학교',
    'RENT_TYPE': '정기권',
    'GENDER_CD': '',
    'AGE_TYPE': '~10대',
    'USE_CNT': '1',
    'EXER_AMT': '15.40',
    'CARBON_AMT': '0.17',
    'MOVE_METER': '720.00',
    'MOVE_TIME': '6',
    'START_INDEX': 0,
    'END_INDEX': 0,
    'RNUM': '5'}]}}

In [27]:
dict_response['cycleRentUseDayInfo'].keys()

dict_keys(['list_total_count', 'RESULT', 'row'])

In [24]:
dict_response['cycleRentUseDayInfo'].keys()
dict_response['cycleRentUseDayInfo']['row']

[{'RENT_DT': '2022-01-01',
  'RENT_ID': '00729',
  'RENT_NM': '729. 서부식자재마트 건너편',
  'RENT_TYPE': '정기권',
  'GENDER_CD': '',
  'AGE_TYPE': '~10대',
  'USE_CNT': '1',
  'EXER_AMT': '51.99',
  'CARBON_AMT': '0.47',
  'MOVE_METER': '2020.00',
  'MOVE_TIME': '17',
  'START_INDEX': 0,
  'END_INDEX': 0,
  'RNUM': '1'},
 {'RENT_DT': '2022-01-01',
  'RENT_ID': '00731',
  'RENT_NM': '731. 서울시 도로환경관리센터',
  'RENT_TYPE': '정기권',
  'GENDER_CD': '',
  'AGE_TYPE': '~10대',
  'USE_CNT': '2',
  'EXER_AMT': '48.09',
  'CARBON_AMT': '0.41',
  'MOVE_METER': '1760.00',
  'MOVE_TIME': '92',
  'START_INDEX': 0,
  'END_INDEX': 0,
  'RNUM': '2'},
 {'RENT_DT': '2022-01-01',
  'RENT_ID': '00734',
  'RENT_NM': '734. 신트리공원 입구',
  'RENT_TYPE': '정기권',
  'GENDER_CD': '',
  'AGE_TYPE': '~10대',
  'USE_CNT': '1',
  'EXER_AMT': '26.41',
  'CARBON_AMT': '0.24',
  'MOVE_METER': '1042.22',
  'MOVE_TIME': '8',
  'START_INDEX': 0,
  'END_INDEX': 0,
  'RNUM': '3'},
 {'RENT_DT': '2022-01-01',
  'RENT_ID': '00746',
  'RENT_NM': '746. 목동2단지 상가',
  'RENT_TYPE': '정기권',
  'GENDER_CD': '',
  'AGE_TYPE': '~10대',
  'USE_CNT': '2',
  'EXER_AMT': '121.91',
  'CARBON_AMT': '1.11',
  'MOVE_METER': '4794.92',
  'MOVE_TIME': '26',
  'START_INDEX': 0,
  'END_INDEX': 0,
  'RNUM': '4'},
 {'RENT_DT': '2022-01-01',
  'RENT_ID': '01025',
  'RENT_NM': '1025. 상일초등학교',
  'RENT_TYPE': '정기권',
  'GENDER_CD': '',
  'AGE_TYPE': '~10대',
  'USE_CNT': '1',
  'EXER_AMT': '15.40',
  'CARBON_AMT': '0.17',
  'MOVE_METER': '720.00',
  'MOVE_TIME': '6',
  'START_INDEX': 0,
  'END_INDEX': 0,
  'RNUM': '5'}]

In [25]:
df_bike = pd.DataFrame(dict_response['cycleRentUseDayInfo']['row'])
df_bike.head(5)

,RENT_DT,RENT_ID,RENT_NM,RENT_TYPE,GENDER_CD,AGE_TYPE,USE_CNT,EXER_AMT,CARBON_AMT,MOVE_METER,MOVE_TIME,START_INDEX,END_INDEX,RNUM
0,2022-01-01,00729,729. 서부식자재마트 건너편,정기권,,~10대,1,51.99,0.47,2020.00,17,0,0,1
1,2022-01-01,00731,731. 서울시 도로환경관리센터,정기권,,~10대,2,48.09,0.41,1760.00,92,0,0,2
2,2022-01-01,00734,734. 신트리공원 입구,정기권,,~10대,1,26.41,0.24,1042.22,8,0,0,3
3,2022-01-01,00746,746. 목동2단지 상가,정기권,,~10대,2,121.91,1.11,4794.92,26,0,0,4
4,2022-01-01,01025,1025. 상일초등학교,정기권,,~10대,1,15.40,0.17,720.00,6,0,0,5