In [3]:
import pandas as pd

In [4]:
df_list = []

for idx in range(1, 7):
    month_str = "{0:02d}".format(idx) 
    df = pd.read_csv('../data-files2024/bike_data_24.{0}.csv'.format(month_str), encoding='cp949')
    df_list.append(df)

In [5]:
pd.concat(df_list)

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2024-01-01,1030,1030. 미호 플랜트 앞,정기권,NaN,~10대,1,\N,\N,1274.00,15
1,2024-01-01,1153,"1153. 발산역 1번, 9번 인근 대여소",정기권,NaN,~10대,1,41.16,0.44,1890.00,14
2,2024-01-01,1155,1155. 기쁜우리복지관,정기권,NaN,~10대,1,77.22,0.90,3900.00,29
3,2024-01-01,1251,1251. 석촌역 2번출구,정기권,NaN,~10대,1,35.01,0.32,1360.00,12
4,2024-01-01,1260,1260. 방이동 한양3차아파트 옆,정기권,NaN,~10대,1,14.98,0.17,727.25,4
...,...,...,...,...,...,...,...,...,...,...,...
2407145,2024-06-30,3501,3501. 광진구청 앞,정기권,M,기타,1,357.26,2.91,12530.00,36
2407146,2024-06-30,3504,3504. 원일교회,정기권,M,기타,1,75.79,0.51,2199.98,77
2407147,2024-06-30,502,502. 자양(뚝섬한강공원)역 1번출구 앞,정기권,M,기타,3,476.39,3.94,16982.75,171
2407148,2024-06-30,723,723. SBS방송국,정기권,M,기타,1,332.32,2.6,11189.35,66
2407149,2024-06-30,726,726. 목동3단지 시내버스정류장,정기권,M,기타,2,53.22,0.41,1745.38,37