### db 종료 후 DF으로 작업하기

In [7]:
weather_df

,station_id,station_name,date_time,avg_temp,min_temp,max_temp,daily_precipitation,avg_wind_speed,daily_snow_depth
0,108,서울,2021-01-01,-4.2,-9.8,1.6,NaN,2.0,NaN
1,108,서울,2021-01-02,-5.0,-8.4,-1.4,NaN,2.6,NaN
2,108,서울,2021-01-03,-5.6,-9.1,-2.0,NaN,2.0,NaN
3,108,서울,2021-01-04,-3.5,-8.4,0.3,0.0,1.7,0.0
4,108,서울,2021-01-05,-5.5,-9.9,-2.1,0.0,2.9,0.0
...,...,...,...,...,...,...,...,...,...
1394,108,서울,2024-10-26,17.0,10.7,24.0,NaN,1.8,NaN
1395,108,서울,2024-10-27,16.0,14.0,18.8,0.0,1.6,NaN
1396,108,서울,2024-10-28,15.7,12.3,20.4,0.0,2.1,NaN
1397,108,서울,2024-10-29,15.0,13.4,18.3,0.0,2.3,NaN
1398,108,서울,2024-10-30,15.7,11.4,21.4,NaN,1.6,NaN